@import url('https://fonts.googleapis.com/css?family=Popping:200,300,400,500,600,700,800,900&display=swa');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}
html
{
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}


section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    padding: 50px;
}

.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}


header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 8px 15px;
    border-radius: 25px;
    transition: 0.5s;
}
header ul li a:hover
{
    color: rgb(216, 97, 97);
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 0 20px var(255, 50, 50)) drop-shadow(0 0 40px var(255, 50, 50))
     drop-shadow(0 0 60px var(255, 50, 50));
}
.content
{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h2
{
    font-size: 1.2em;
    color: #fff;
}
.content p
{
    font-size: 1.2em;
    color: #fff;
}
.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #fff;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
input
{
    background: none;
    text-align: center;
    border: none;
    color: #fff;
    text-shadow: black 1px 1px 1px #919191,1px 2px 1px #919191,1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191;
    font-weight: 300;
    z-index: 1;
}

.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(20px);
    }
}
.sci
{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
button
{
    background: none;
    border: none;
}
ul li button
{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sci li a:hover
{
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr))
     drop-shadow(0 0 60px var(--clr));
}
ul li button:hover
{
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr))
     drop-shadow(0 0 60px var(--clr));
}
.copyrighttxt
{
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #fff;
}

@media (max-width: 1200px)
{
    .container
    {
        position: relative;
        width: calc(100% - 20px);
    }
}
@media (max-width: 992px)
{
    section
    {
        padding: 50px 10px 10px;
    }
    .container
    {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 20px;
    }
    .container .content
    {
        transform: translateY(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }
    header
    {
        position: relative;
        flex-direction: column;
        width: 633px;
        top: -60px;
        padding: 20px;
    }
    header ul
    {
        margin-top: 10px ;
        flex-wrap: wrap;
    }
    header ul li 
    {
        display: inline-block;
    }

}
@media (max-width: 700px)
{
    section
    {
        padding: 50px 10px 10px;
    }
    .container
    {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 20px;
    }
    .container .content
    {
        transform: translateY(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }
    header
    {
        position: relative;
        flex-direction: column;
        width: 253px;
        top: -60px;
        padding: 20px;
    }
    header ul
    {
        margin-top: 10px ;
        flex-wrap: wrap;
    }
    header ul li 
    {
        display: inline-block;
    }
    .sci 
    {
        position: relative;
        flex-direction: row;
        left: 0;
    }
    .sci li a
    {
        margin: 0 10px;
    }
    .copyrighttxt
    {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}
@media (max-width: 330px)
{
    section
    {
        padding: 50px 10px 10px;
    }
    .container
    {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 20px;
    }
    .container .content
    {
        transform: translateY(0px);
        max-width: 100%;
        width: 250px;
        padding: 30px;
        margin-top: -40px;
    }
    header
    {
        position: relative;
        flex-direction: column;
        width: 150px;
        top: -60px;
        padding: 20px;
    }
    header ul
    {
        margin-top: 10px ;
        flex-wrap: wrap;
    }
    header ul li 
    {
        display: inline-block;
        align-items: center;
        text-align: center;
    }
    .imgBx
    {
        max-width: 250px;
    }
    .sci 
    {
        position: relative;
        flex-direction: row;
        left: 0;
    }
    .sci li a
    {
        margin: 0 5px;
    }
}